<%- include('partials/head.ejs'); %> <%- include('partials/navbar.ejs'); %>
<h2><%= title %></h2>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
  <% if(typeof allCountries !== 'undefined' && allCountries.length > 0) { %> <%
  allCountries.forEach(function(country, index) { %>
   <div class="country__img shadow">
      <img
        src="<%- country.flag %>"
        alt="<%- country.name_common %>"
        loading="lazy"
      />
    </div>
    <div class="pt-1"><%- country.name_official %></div>
  </a>
  <% }) %> <% } %>
</div>
